@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Inter:wght@400;700&family=Jua&display=swap');

* {
    margin: 0;
}

.main {
    height: 100vh;
    background-image: url(/src/main.png);
    background-size: cover;
    text-align: center;
    position: relative;
}

.layout {
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

.main_text {
    font-size: 90px;
    position: relative;
    z-index: 2;
    margin-bottom: 2.5em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.expend {
    z-index: 1;
}

.blue_text {
    color: blue;
}

.sub_text {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height: 200px;
    background-color: #EDEDED;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.text_1 {
    margin: 120px;
}

.title_1 {
    font-weight: bold;
    font-size: 70px;
    margin: 10px 0;
    font-family: 'Inter', sans-serif;
}

.sub_1 {
    color: #979797;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

.text_2 {
    display: flex;
    justify-content: space-around;
    margin: 200px;
}

.sub_2 {
    margin: auto 30px;
    padding: 40px;
    border-radius: 30px;
    font-size: 30px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 13px 12px rgba(0, 0, 0, 0.22);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.text_3 {
    background-color: #EDEDED;
    padding: 30px;
}

.text_4 {
    display: flex;
    justify-content: space-around;
    margin: 60px;
}

.sub_3 {
    color: #979797;
}

.title_2 {
    font-size: 40px;
    font-weight: bold;
    color: #505050;
}

.sub_4 {
    margin: auto 30px;
    padding: 40px;
    border-radius: 30px;
    font-size: 25px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 13px 12px rgba(0, 0, 0, 0.22);
    font-family: 'Inter', sans-serif;
}